.tag-input {
    display: none;
}

.tag-choice {
    cursor: pointer;
}

.tag-input + .tag {
    transition: 0.15s ease;
    outline-style: solid;
    outline-color: blueviolet;
    outline-width: thin;
}

.tag-input:checked + .tag {
    background-color: blueviolet;
    color: white;
}