<!doctype html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Elegantes Goticas Lolitas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

{% extends "layout.html" %}
{% block content %}



{% if test == True %}
  Nome: {{ obj.nome }}<br>
  Peça: {{ obj.peca }}<br>
  Marca: {{ obj.marca }}<br>
  Descrição: {{ obj.descricao }}<br>
  Data: {{ obj.data }}<br>
  Tipo arquivo: {{ obj.tipo_arquivo }}<br>
  Alt text: {{ obj.alt_text }}

  <br>

  Usuario: {{obj.usuario_nome}}
  Contato: {{obj.usuario_contato}}
  Estado: {{obj.usuario_estado}}
{% endif %}


<section class="section">

    <div class="columns">
        <div class="column is-one-third-desktop is-full-mobile">
            <figure class="image is-4by3">
                <img
                    src="data:image/{{ obj.tipo_arquivo }};base64,{{ obj.arquivo }}"
                    alt="{{ obj.alt_text }}"
                />
            </figure>

        </div>
        <div class="column is-full-mobile">
            <div class="box">
                <div class="columns">
                    <div class="column is-two-thirds">
                        <strong>
                            <p class="is-size-3"> {{obj.nome}}</p>

                            <div class="columns" style="color: orchid">
                                <div class="column">
                                    {{obj.marca_text()}}
                                </div>
                                <div class="column has-text-right">
                                    {{obj.tamanho_text()}}
                                </div>

                            </div>
                        </strong>

                        <div class="pb-3 pt-3">
                            <div label="line" style="border-bottom:  solid thin thistle;"></div>
                        </div>

                        <strong>Defeitos:
                        <div class="tag" style="background: rgb(236, 220, 236); outline: solid thin orchid;">
                            {{obj.defeito_text()}}
                        </div>
                        </strong>

                        <div class="pt-3 pb-3">
                            {{obj.descricao}}
                        </div>
                        
                        </div>

                    
                    <div class="column is-one-third has-text-centered" style="border-left:  solid thistle;">
                        <div class="box pt-1 pb-1">
                            <p class="is-size-9" style="display: inline">R$</p>
                            <p class="is-size-2" style="display: inline">{{obj.preco}}</p>

                            <div class="pb-1">
                                <div label="line" style="border-bottom:  solid thin thistle;"></div>
                            </div>

                            <div class="columns has-text-centered">
                                <div class="column is-half ">
                                    Trocas
                                </div>


                                <div class="column is-half">
                                    <div style="border-left: solid thin thistle">
                                        {{obj.trocas_text()}}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <p class="is-size-5" style="color: orchid;"> {{obj.status_text()}} </p>

                        <div class="pb-4 pt-4">
                            <div label="line" style="border-bottom:  solid thin thistle;"></div>
                        </div>
                        
                        <p class="pb-1 is-size-7">Informações de compra</p>
                        
                        {% if is_logged %}
                            <strong>Usuário:</strong> {{obj.usuario_nome}}<br>
                            <strong>Contato:</strong> {{obj.usuario_contato}}

                        {% else %}
                            <strong>Você precisa de uma conta para ver contatos.</strong>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="box has-text-centered">

                <p class="is-size-7">
                    Informações extra: {{obj.peca_text()}}
                </p>


            </div>
        </div>
    </div>


</section>

{% endblock %}

</body>
</html>