<!doctype html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Elegantes Goticas Lolitas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

{% from "macros.html" import sales_card %}

{% extends "layout.html" %}
{% block content %}

    <section class="section">
        <p>{{ df }}</p>
        
        <div class="box">
            {% if is_logged %}

                <p>Fazer um anúncio novo?</p>
                <br>
                <a href="{{ url_for('criar_anuncio') }}">
                    <button class="button">Criar nova venda</button>
                </a>

            {% else %}
                <p>Você precisa estar logado para criar anúncios ou ver contatos.</p>
                <br>
                <div class="has-text-centered-mobile has-text-left-desktop">
                    <a href="{{ url_for('criar_usuario') }}">
                        <button class="button">Criar conta</button>
                    </a>

                    <a href="{{ url_for('login_page') }}">
                        <button class="button">Login</button>
                    </a>
                </div>
            {% endif %}
        </div>

        <p>Anúncios atuais:</p>

        {% set anuncio_count = sales_list|length %}
        {% set n = 5 %}
        {% set sublists = [] %}

        {% for step in range(0,anuncio_count,n) %}
            {% set sublists = sublists.append(sales_list[step:step+n] ) %}
        {% endfor %}
        

        {% set row_count = sublists|length %}
        {% set mod = sublists[-1]|length %}
        {% set test = False %}

        {% if test %}
            qtd: {{anuncio_count}} <br>
            n: {{n}}<br>
            rows: {{row_count}}<br>
            mod: {{mod}}<br>

            sublists:<br>
            {% for item in sublists %}
                {{ item }}<br>
            {% endfor %}
        {% endif %}

        {% for row in sublists %}
            <div class="columns">

                {% for item in row %}
                <div class="column is-one-fifth-desktop is-half-mobile">
                    {{
                        sales_card(item)
                    }}
                </div>
                {% endfor %}
            </div>
        {% endfor %}


        

    </section>

{% endblock %}

</body>
</html>