{% macro sales_card(item) %}
{% set test = False %}

{% if test == True %}
  ID:{{item.id}}<br>
  Nome: {{ item.nome }}<br>
  Peça: {{ item.peca }}<br>
  Marca: {{ item.marca }}<br>
  Descrição: {{ item.descricao }}<br>
  Data: {{ item.data }}<br>
  Tipo arquivo: {{ item.tipo_arquivo }}<br>
  Alt text: {{ item.alt_text }}
{% endif %}

<a href="/anuncio_singular/{{item.id}}">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          src="data:image/{{ item.tipo_arquivo }};base64,{{ item.arquivo }}"
          alt="{{ item.alt_text }}"
        />
      </figure>
    </div>
    <div class="card-content">

      <p class="title is-size-6 pb-2">
        {% if item.nome|length > 20 %}
          {{item.nome[:17]}}...
        {% else %}
          {{item.nome}}
        {% endif %}

      </p>
      <p class="subtitle is-size-6">{{item.marca}}</p>

      <div class="pb-1">
        <div label="line" style="border-bottom:  solid thin thistle;"></div>
      </div>

      <p class="has-text-centered">
        <time>{{item.data_ativado}}</time>
      </p>
      
    </div>
  </div>
</a>

{% endmacro %}